<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        constants = {
            getStore: '@Url.RouteUrl("DefaultApi", new {controller = "Store", action = "store" })',
            removeUrl: '@Url.RouteUrl("DefaultApi", new {controller = "Store", action = "remove" })',
            postUrl: '@Url.RouteUrl("DefaultApi", new {controller = "Store", action = "add" })',
            updateUrl: '@Url.RouteUrl("DefaultApi", new {controller = "Store", action = "update" })'
        }
    </script>
    <link href="~/css/styles.css" rel="stylesheet" media="all">
    <title>Url-cuter</title>
</head>
<body>
    <div id="content">
    </div>
    <script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
</body>
</html>